.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
}

.App-header {
  background-color: #b9ce87;
  height: 260px;
  padding: 20px;
  color: white;
  border-top: 30px solid #85be6e;
}

.App-title {
  color: #39b549;
  font-weight: bold;
  font-size: 4rem;
}

.App-subtitle{
  color: black;
  font-size: large;
  font-weight: bold;
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1{
  font-family: 'Quicksand', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif
}

.no-margin{
  margin: 0;
}

.option{
  width: 300px;
    margin: auto;
    background-color: #b9ce87;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 10px solid #85be6e;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

#landing-page-options{
  background-color: #f78d93;
  border-top: 5px solid white;
  padding-bottom: 2rem;
  border-bottom: 30px solid #f64852;
}

a{
  color: black;
  text-decoration: none;
}

#new-game-pane{
  display: flex;
  background-color: #f78d93;
  height: 80vh;
}

#new-game-logo{
  transform: translate(-70px, -80px);;
}

.light-green-div{
  height: 200px;
  background-color: #b9ce87;
  height: 10vh;
}

.dark-green-div{
  height: 200px;
  background-color: #85be6e;
  height: 10vh;
}

.header{
  font-family: 'Quicksand', sans-serif;
  color: #39b549;
  font-weight: bold;
  font-size: 3rem;
}

#game-id-display{
  background-color: white;
  width: 100px;
  padding: 2rem;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #f64852;
  border: 1px black solid;
  border-radius: 8px;
}

#join-game{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  color: #f64852;
  font-weight: bold;
  padding: 5px;
  width: 120px;
  text-align: center;
  border: 1px solid black;
  transform: translate(16px, 16px);
}

.player-li{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.margin-spacing{
  margin: 0 2.5rem;
}

.Start-logo {
  height: 150px;
}

.center-div{
  text-align: center;
}

#start-game-text{
  color: white;
  font-weight: bolder;
  transform: translate(0, 120px);
  z-index: 100;
}
