.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 180px;
}

.App-header {
  background-color: #b9ce87;
  height: 260px;
  padding: 20px;
  color: white;
  border-top: 30px solid #85be6e;
}

.App-title {
  color: #39b549;
  font-weight: bold;
  font-size: 4rem;
}

.App-subtitle{
  color: black;
  font-size: large;
  font-weight: bold;
  font-size: 2rem;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1{
  font-family: 'Quicksand', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif
}

.no-margin{
  margin: 0;
}

.option{
  width: 300px;
    margin: auto;
    background-color: #b9ce87;
    margin-bottom: 2rem;
    padding: 2rem;
    border: 10px solid #85be6e;
    border-radius: 15px;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

#landing-page-options{
  background-color: #f78d93;
  border-top: 5px solid white;
  padding-bottom: 2rem;
  border-bottom: 30px solid #f64852;
}
